<div class="col-md-9 col-md-offset-1">
  <table class="table table-striped table-hover table-bordered">
    <tr>
      <th>Id</th>
      <!--<th><button (click)="sortByName()" class="btn btn-sm btn-danger js-sort-name">Name</button></th>-->
      <th>Name</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Age</th>
      <th>Birthsday</th>
      <th>Income</th>
      <th>Action</th>
    </tr>
    <tr>
      <td></td>
      <td><input id="name" type="text" class="form-control" [(ngModel)]="nameInput" (ngModelChange)="getFilteredElements()"></td>
      <td><input id="surname" type="text" class="form-control" [(ngModel)]="surnameInput" (ngModelChange)="getFilteredElements()"></td>
      <td>
        <label for="genderF">Female</label>
        <input id="genderF" type="checkbox" class="form-control" [(ngModel)]= "genderInputF" (change)="getFilteredElements()">
        <label for="genderM">Male</label>
        <input id="genderM" type="checkbox" class="form-control" [(ngModel)]= "genderInputM" (change)="getFilteredElements()">
      </td>
      <td><input id="email" type="text" class="form-control" [(ngModel)]="emailInput" (ngModelChange)="getFilteredElements()"></td>
      <td>
        <label for="ageFrom">From</label>
        <input id="ageFrom" type="text" class="form-control" [(ngModel)]="ageFromInput" (ngModelChange)="getFilteredElements()">
        <label for="ageTo">To</label>
        <input id="ageTo" type="text" class="form-control" [(ngModel)]="ageToInput" (ngModelChange)="getFilteredElements()">
      </td>
      <td>
        <label for="birthsdayFrom">From</label>
        <input id="birthsdayFrom" type="date" class="form-control" [(ngModel)]="birthsdayFromInput" (ngModelChange)="getFilteredElements()">
        <label for="birthsdayTo">To</label>
        <input id="birthsdayTo" type="date" class="form-control" [(ngModel)]="birthsdayToInput" (ngModelChange)="getFilteredElements()">
      </td>
      <td>
        <label for="incomeFrom">From</label>
        <input id="incomeFrom" type="text" class="form-control" [(ngModel)]="incomeFromInput" (ngModelChange)="getFilteredElements()">
        <label for="incomeTo">To</label>
        <input id="incomeTo" type="text" class="form-control" [(ngModel)]="incomeToInput" (ngModelChange)="getFilteredElements()">
      </td>
      <td></td>
    </tr>
    <tr *ngFor="let item of items" person-table-row [model]="item" (saveDelete)="refreshTable()"></tr>
  </table>
  <person-table-paging (next)="next()" (prev)="prev()"><!-- o tutaj!! -->
    </person-table-paging> 
</div>